<app-nav-bar></app-nav-bar>
<div class="edit-project">
    <h3>Edit the Project</h3>

    <form (ngSubmit)="updateProject()" [formGroup]="updateProjectForm">
      <label>Title:</label>
      <input
        type="text"
        placeholder="Title..."
        [formControl]="titleInput"
      />

      <label>Description:</label>
      <textarea
        type="text"
        [formControl]="descriptionInput"
      >
      </textarea>

      <button type="submit">Update Project</button>
    </form>

    <button (click)="deleteProject()">Delete Project</button>
</div>